<!DOCTYPE html>
<html>
  <head>
    <title>Rails103</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "common/flashes" %>
    <div class="container-fluid">
    <%= render "common/navbar" %>
    <%= yield %>
    </div>
    
    <!-- include javascript, jQuery FIRST -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <%= render "common/footer" %>
  </body>
</html>
